# No external dependencies needed for basic functions
# Add dependencies here if needed in the future
langchain
wikipedia
langchain-community
langchain-openai
langchain-anthropic
python-dotenv
pydantic
rich
flask
flask-cors
langgraph